<ion-view title="作业列表">
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-back-button class="button-clear" ng-click="goBack()">
      <i class="ion-chevron-left"></i>返回
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button ion-plus" ng-click="addHomeWork()"></button>
      <button class="button ion-more" ng-click="openModal()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">

    </ion-refresher>

    <script id="Menu.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
          <h1 class="title"></h1>
          <button class="button button-clear" ng-click="modalHide()">
            <i class="icon ion-close"></i>
          </button>
        </ion-header-bar>
        <ion-content style="background-color: #F6F6F6">
          <div ng-include="'templates/TeachManagement/OneCourse/Menu.html'"></div>
        </ion-content>
    </script>
    <div ng-include="'templates/Commons/HomeWorkList.html'"></div>
    <div ng-include="'templates/Commons/Empty.html'" ng-if='items.length > 0 ? false:true'></div>
  </ion-content>
</ion-view>
