<ion-view title="学习计划">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            <i class="ion-chevron-left"></i>返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button ion-more buttonWidth" ng-click="openModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-include="'templates/Commons/Empty.html'" ng-if='items.length > 0 ? false:true'></div>
        <script id="Menu.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-stable">
                    <h1 class="title"></h1>
                    <button class="button button-clear" ng-click="modalHide()">
                        <i class="icon ion-close"></i>
                    </button>
                </ion-header-bar>
                <ion-content style="background-color: #F6F6F6">
                    <div ng-include="'templates/TeachManagement/OneCourse/Menu.html'"></div>
                </ion-content>
        </script>
        <div class="list">
            <div class="item" collection-repeat="item in items">
                <div class="row">
                    <div class="col-80">

                        <p><i class="icon ion-star"></i> <font size="3px"> {{item.title}}</font>
                        </p>
                        <P><font size="2px">开始时间：{{item.starttime}}</font></P>
                        <p><font size="2px">结束时间：{{item.endtime}}</font></p>
                        <p><font size="2px"> 参与人数：{{item.num}}</font></p>
                    </div>
                    <!--批阅的按钮 把id传进去-->
                    <div class="col-20" style="margin-right: -20px">
                        <button class="button button-positive" ng-click="goOver($index)"
                                style="margin-top: 25px;margin-right: 20px;float: right">批阅
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
