<ion-view view-title="重置密码">
  <ion-content>
    <div class="list-inset listStyle">
      <div class="row">
        <div class="col">

          <label class="item item-input-inset">
            <span class="input-label">请输入新密码:</span>
            <input type="password" placeholder="新密码" id="newPassword" ng-model="newPassword">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <label class="item item-input-inset">
            <span class="input-label">请再次输入新密码:</span>
            <input type="password" placeholder="确认密码" id="configNewPassword" ng-model="configNewPassword">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-positive button-full loginAndForBtn"
                  ng-click="config()">确认
          </button>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>

