<ion-view view-title="忘记密码">

  <ion-content>

    <div class="list-inset listStyle">
      <div class="row">
        <div class="col">
          <label class="item item-input-inset">

            <input type="text" placeholder="邮箱" id="email">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-positive button-full loginAndForBtn"
                  ng-click="writeEmail()">下一步
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

