<div class="item-input">

    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="搜索" ng-model="user.search">

    </label>
    <button class="button button-outline" ng-click="removeSearch()">
        <font color="blue">取消</font>
    </button>
</div>
<div class="list">
    <ion-item class="item-icon-right"
              collection-repeat="item in items | filter:user.search" ng-click= "editHomeWorkDetail(item.id)">
        <p><font color="blue">{{item.title}}</font> </p>
        <P><font size="1px">开始时间:{{item.datestart}}</font></P>
        <p><font size="1px">截止时间:{{item.dateend}}</font></p>
    </ion-item>
</div>
