
   <div class="tabs tabs-icon-top fade-in1">
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseStudyPlan({id:{{id}},index:{{index}}})">
                <i class="icon ion-briefcase"></i>
                学习计划
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseProperty({id:{{id}},index:{{index}}})">
                <i class="icon ion-wrench"></i>
                课程属性
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseAnnoucement({id:{{id}},index:{{index}}})">
                <i class="icon ion-clipboard"></i>
                课程公告
            </a>

        </div>

        <div class="tabs tabs-icon-top fade-in2">
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseStuInOneCourseList({id:{{id}},index:{{index}}})">
                <i class="icon ion-person-stalker"></i>
                学生列表
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseResource({id:{{id}},index:{{index}}})">
                <i class="icon ion-university"></i>
                课程资源
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseHomeWorkList({id:{{id}},index:{{index}}})">
                <i class="icon ion-compose"></i>
                作业列表
            </a>

        </div>
        <div class="tabs tabs-icon-top fade-in3">
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseExprementList({id:{{id}},index:{{index}}})">
                <i class="icon ion-laptop"></i>
                实验列表
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseExerciseList({id:{{id}},index:{{index}}})">
                <i class="icon ion-edit"></i>
                练习列表
            </a>
            <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseDiscuss({id:{{id}},index:{{index}}})">
                <i class="icon ion-chatboxes"></i>
                讨论区
            </a>

        </div>
   <div class="tabs tabs-icon-top fade-in4">
   <a class="tab-item" ui-sref="tab.TeachManagement-OneCourseStuInGradeList({id:{{id}},index:{{index}}})">
       <i class="icon ion-stats-bars"></i>
       成绩列表
   </a>
       <a class="tab-item"></a>
       <a class="tab-item"></a>
   </div>
