<ion-view title="发起主题">
  <ion-content>
    <p style="margin-left: 5px;margin-top: 5px">标题为</p>
      <input placeholder="请输入标题" ng-model="topic.subject" style="width: 98%;margin-left: 5px;margin-right:5px;border-width: 1px;border-color: darkgray">

    <p style="margin-left: 5px;margin-top: 5px">文本区</p>
    <textarea ng-style="textAreaStyle" ng-model = "topic.content"></textarea>
    <p style="margin-left: 5px;margin-top: 5px">图片区</p>
    <div ng-style="imgsDivStyle">
    <div ng-repeat="img in images">
      <img src = "{{img.src}}" style="width: 30%;height: 95px;float: left;margin-right: 5px;margin-top: 5px;margin-left: 5px" ng-click="showBigImage($index)">
    </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-light">
    <div class="button-bar button-light">

      <button class="button" ng-click="selectImage()">
        <i class="ion-image" style="font-size: 30px"></i>
      </button>
      <button class="button" ng-click="writeTopic()">
        <i class="ion-ios-paperplane" style="font-size: 30px"></i>
      </button>

    </div>
  </ion-footer-bar>
</ion-view>
