
<ion-view view-title="详细内容">

    <ion-content>
      <!--标题-->
      <div style="text-align: center">
        <p>{{subject}}</p>
      </div>
        <div ng-bind-html="content"></div>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-light">
        <div class="button-bar">

            <button class="button" ng-click="reply()" style="font-size: 30px">
                <i class="ion-reply"></i>
            </button>
            <button class="button" ng-click="writeEmail()">
                <i class="ion-compose"style="font-size: 30px" ></i>
            </button>
          <button class="button" ng-click="remove()">
            <i class="ion-ios-trash"style="font-size: 30px" ></i>
          </button>
        </div>
    </ion-footer-bar>
</ion-view>

