<ion-view view-title="详细内容">

    <ion-content delegate-handle="main" zooming="true" direction="xy">
        <!--标题-->
        <div style="text-align: center">
            <p>{{subject}}</p>
        </div>
        <ion-scroll zooming="true" direction="xy"
                    style="max-width: 100%; height: 500px;margin-left: 10px;margin-right: 10px"
                    delegate-handle="content" on-double-tap="zoomFunction()">
            <div ng-bind-html="content"></div>
        </ion-scroll>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-light">
        <div class="button-bar">

            <button class="button" ng-click="reply()" style="font-size: 30px">
                <i class="ion-reply"></i>
            </button>
            <button class="button" ng-click="writeEmail()">
                <i class="ion-compose" style="font-size: 30px"></i>
            </button>
            <button class="button" ng-click="remove()">
                <i class="ion-ios-trash" style="font-size: 30px"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

